.solution {
  margin-top: 185px;
}

.solution__title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 55px;
}

.solution__descr {
  font-size: 16px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 35px;
  max-width: 515px;
}

.solution__wrapper {
  display: flex;
}

.solution__left{
  max-width: 527px;
}

.solution__right{
  position: relative;
}

.solution__macbook{
  position: absolute;
  top: -50px;
}